/* .text-color {
} */
@font-face {
  font-family: "Glacial Indifference";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Glacial Indifference";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/GlacialIndifference-Bold.otf);
}

:root {
  --orange: rgb(247, 179, 78);
}

img.hero-illustration {
  border-radius: 20px;
  /* opacity: 0.8; */
}

p.footer-tag,
p.key-number {
  /* color: var(--orange); */
  color: rgb(247, 179, 78);
}

div.container-large.is-large,
div.container-large.is-footer {
  padding-left: 0;
  padding-right: 0;
}

a.button.is-secondary.is-color-tertiary {
  color: white;
  border-color: white;
}

a.button, a.button:hover:first-of-type:not(.is-text)
/* div.btn-txt-container:first-child  */ {
  background-color: rgb(247, 179, 78);
}

div.container-large.is-footer {
  padding-bottom: 0;
}

div.footer-component {
  background: unset;
}

div.hero_component,
div.footer-component {
  background-color: red;
  border-radius: 0;
}

div.footer-card-cta {
  background-color: rgb(243, 164, 46);
}

@media screen and (max-width: 767px) {
  img.logo {
    width: 150px;
    height: 30px;
  }
}

@media screen and (max-width: 991px) {
  img.logo {
    width: 150px;
    height: 30px;
  }
}

img.logo {
  object-fit: cover;
  object-position: center;
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  img.logo-footer {
    width: 150px;
    height: 30px;
  }
}

@media screen and (max-width: 991px) {
  img.logo-footer {
    width: 150px;
    height: 30px;
  }
}

img.logo-footer {
  object-fit: cover;
  object-position: center;
  max-width: 300px;
}

html body *,
p.methode-label,
p.methode-txt-card,
p.methode-card-title {
  font-family: "Glacial Indifference";
  /* line-height: 0; */
}

.title-container {
  margin-bottom: 50px;
}

.section_expertise .padding-global.padding-section-large.small-space-bottom {
  padding-top: 0;
}

.section_methode {
  padding-top: 150px;
}

div.faq_component {
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 60px;
  padding: 50px 0;
  border: white 1px solid;
}

div.faq_component-question:hover {
  background-color: rgb(247, 179, 78);
}
div.faq_component-question:hover p {
  color: black;
}

div.arrow-faq-line-1,
div.arrow-faq-line-2 {
  background-color: rgb(247, 179, 78);
}

div.faq_component-question:hover div.arrow-faq-line-1,
div.faq_component-question:hover div.arrow-faq-line-2 {
  background-color: black;
}

/* ----------------------- */
.w-element.ceu7tus.cbhvyt1.cz0yzym.cwu49w4.crmbe4c.c2w449n.cnoahmk.cj82qg4.c6u9l1h.csjb01i.c158qsfa
  > * {
  background-color: red;
}

div.methode-card.is-1 {
  background: unset;
  background-color: red;
}

div.methode-card.is-2 {
  background: unset;
  background-color: rgb(243, 164, 46);
}

div.methode-card.is-3 {
  background: unset;
  background-color: rgb(185, 185, 185);
}

div.methode-card.is-4 {
  background: unset;
  background-color: black;
  border: 1px solid white;
}

div.methode-card.is-4 .btn-txt {
  color: white;
  text-decoration: underline;
}

div.methode-card.is-4 .btn-txt .expertise-card img {
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 20px;
}

section.section_a-propos {
  background-color: white;
}

section.section_a-propos h2 {
  color: rgb(243, 164, 46);
  font-weight: 700;
}
