.w-element.cxvuy4s.c2w449n.crmbe4c.cecob1e.c161a4w7 {
  column-gap: 0;
}

.w-element.cxvuy4s.c2w449n.crmbe4c.cecob1e.c161a4w7 h3,
.w-element.cmsh1wz.c7v34cj.cm656wh.cddnmfv.cxvuy4s.c1pldjkd.c17g4s8m.c1gnsvz9.cecob1e.c161a4w7.c13isxdn.c1pcweb5.difference
  * {
  font-family: "Glacial Indifference";
}

p.w-element.cof7ble.c78ag29.c16cg51a.c1yancc2.cm656wh.cddnmfv.c149suav.c110f97k.c12ezvdd.c1a9zv23 {
  color: white;
}

.c10zigoc {
  padding-left: 20px;
}

.c110f97k {
  line-height: 1.5;
}

.c124wu6v {
  justify-content: center;
}

.c12ezvdd {
  margin-top: 0;
}

.c13010i4 {
  min-width: 362px;
}

.c13y50uc {
  justify-content: start;
}

.c149suav {
  font-size: 18px;
}

.c16cg51a {
  text-align: center;
}

.c18p5pmq {
  width: 362px;
}

.c1a9zv23 {
  margin-bottom: 0;
}

.c1abmhux {
  max-width: 362px;
}

.c1c0lyko {
  max-width: 1200px;
}

.c1nqsp81 {
  text-transform: uppercase;
}

.c1pldjkd {
  flex-direction: column;
}

.c1q5yjmy {
  flex-grow: 1;
}

.c1uwo40j {
  max-width: 100svw;
}

.c78ag29 {
  color: #666e70;
}

.ccjfff3 {
  font-size: 24px;
}

.cddnmfv {
  margin-right: auto;
}

.cecob1e {
  align-items: center;
}

.cg9rjis {
  flex-shrink: 0;
}

.cm656wh {
  margin-left: auto;
}

.cmsh1wz {
  width: 100%;
}

.co04rh4 {
  padding-top: 40px;
}

.cof7ble {
  font-family: Poppins, sans-serif;
}

.comd9c7 {
  padding-right: 20px;
}

.csljtcf {
  font-weight: 800;
}

.cv4mds2 {
  line-height: 1.4;
}

.cxvuy4s {
  display: flex;
}

.cz7r9dh {
  padding: 20px;
}

/* Media Queries */

@media all and (max-width: 479px) {
  .c10vkmo2 {
    font-size: 32px;
  }
  .cm1r7eo {
    font-size: 16px;
  }
  .c1pu6xh {
    column-gap: 5px;
  }
  .c1fcbk4g {
    row-gap: 5px;
  }
  .co79aoz {
    height: 120px;
  }
  .c1dz8ejf {
    column-gap: 15px;
  }
  .c1rh4sge {
    row-gap: 15px;
  }
  .cksxx4b {
    max-width: 40px;
  }
  .c1c8pr07 {
    font-size: 14px;
  }
  .c9uaxtd {
    font-size: 15px;
  }
  .c1c44hq3 {
    column-gap: 25px;
  }
  .c12wdfxw {
    row-gap: 25px;
  }
  .ccjfff3 {
    font-size: 24px;
  }
  .cyky2wn {
    padding-left: 0;
  }
  .c1222784 {
    margin-left: 0;
  }
  .c11j925g {
    max-width: none;
  }
  .chw61ha {
    width: calc(100svw - 40px);
  }
  .cm3rv31 {
    width: 100svw;
  }
  .c1mvmuky {
    min-width: auto;
  }
  .c1h2huee {
    flex-direction: column-reverse;
  }
  .c1889cvw {
    border-top-left-radius: 16px;
  }
  .c1s2ny5p {
    border-top-right-radius: 16px;
  }
  .c1nf3cvt {
    border-bottom-left-radius: 16px;
  }
  .c1pjh4tk {
    border-bottom-right-radius: 16px;
  }
  .c5sw6wz {
    padding: 0;
  }
  .c1qzt09g {
    padding: 0rem;
  }
  .c1wkt38h {
    line-height: 1.5rem;
  }
  .ckwcocg {
    row-gap: 0.8rem;
  }
  .cmu8a3c {
    flex-direction: column;
  }
  .c17fmc12 {
    width: auto;
  }
  .c1fhecsr {
    padding-right: 0;
  }
  .c1s46n7b {
    padding-left: 20px;
  }
  .c9lioy {
    padding-right: 20px;
  }
  .cs8xf0d {
    align-items: start;
  }
  .c4omi12 {
    justify-content: start;
  }
  .cvmlxut {
    padding-left: 24px;
  }
  .c1m4ur8u {
    padding-top: 32px;
  }
  .c113x2g6 {
    padding-right: 24px;
  }
  .cza8x5t {
    padding-bottom: 32px;
  }
  .c1bgd5g2 {
    max-height: none;
  }
  .cn4xqop {
    width: 100%;
  }
  .c1qrmyx7 {
    flex-grow: 0;
  }
  .c67c3f {
    flex-shrink: 0;
  }
  .czjtltr {
    padding-left: 25px;
  }
  .c1d5y1qw {
    padding-right: 25px;
  }
  .c1rkhorp {
    height: 100svh;
  }
  .cy770z {
    max-height: 100svh;
  }
  .c132zlgz {
    min-height: 100svh;
  }
  .c1xfnbho {
    height: 100%;
  }
  .cv4fvyr {
    padding: 20px;
  }
  .c1py2ba5 {
    text-align: center;
  }
  .c135q9qh {
    padding-top: 20px;
  }
  .c16neiaz {
    line-height: 40px;
  }
  .c1si0qkf {
    display: block;
  }
  .crhwpvf {
    width: 25px;
  }
  .c1hqugmy {
    height: 25px;
  }
  .c1owgo4r {
    min-width: 25px;
  }
  .cl7aqe3 {
    max-width: 25px;
  }
  .c8a2ovu {
    display: flex;
  }
  .c1864brn {
    align-items: center;
  }
  .csv6ejx {
    justify-content: center;
  }
  .c1irbv8f {
    max-width: 10px;
  }
  .ctudif5 {
    overflow-x: hidden;
  }
  .c3c3ewf {
    overflow-y: hidden;
  }
  .c1x1qxn4 {
    overflow-x: visible;
  }
  .csrgsz4 {
    overflow-y: visible;
  }
  .cddxwmp {
    min-width: 100%;
  }
  .c81oeru {
    max-width: 100%;
  }
  .c1q3g4t2 {
    font-size: 28px;
  }
  .c1n97uel {
    line-height: 36px;
  }
  .cig8ie8 {
    font-size: 25px;
  }
  .c1q5ckpr {
    line-height: 30px;
  }
  .camx8d8 {
    display: none;
  }
  .c165mw81 {
    height: 200px;
  }
  .cr358l9 {
    line-height: 38px;
  }
  .c1gkc6cj {
    padding-left: 15px;
  }
  .c6u9kgt {
    padding-right: 15px;
  }
  .cwa9a96 {
    line-height: 22px;
  }
  .cn12vfr {
    width: 30px;
  }
  .c1wm1173 {
    min-width: 30px;
  }
  .c1dl8dbb {
    max-width: 30px;
  }
  .c1hxqf7l {
    min-height: 30px;
  }
  .c1rwxcge {
    height: 30px;
  }
  .cithb1j {
    max-height: 30px;
  }
  .c2qj01k {
    margin-left: 46px;
  }
  .cp3vfio {
    margin-top: 5px;
  }
  .cr29w09 {
    font-size: 20px;
  }
  .cfyldio {
    line-height: 26px;
  }
  .c14veb3r {
    width: 340px;
  }
  .c1mg2mla {
    min-width: 340px;
  }
  .cmag3cf {
    max-width: 340px;
  }
  .c16kcrao {
    height: 210px;
  }
  .c1epnass {
    min-height: 210px;
  }
  .c1lk1wu5 {
    max-height: 210px;
  }
  .cr8klx5 {
    font-size: 21px;
  }
  .c1gwf3x9 {
    line-height: 28px;
  }
}

@media all and (max-width: 767px) {
  .c1dwjoyf {
    min-height: 600px;
  }
  .c8mgzar {
    column-gap: 28px;
  }
  .c89uzof {
    row-gap: 28px;
  }
  .c13y50uc {
    justify-content: start;
  }
  .cv8z7w2 {
    font-size: 32px;
  }
  .c158qsfa {
    display: none;
  }
  .c1wyspra {
    align-items: center;
  }
  .c1qfqilv {
    font-size: 24px;
  }
  .cmuczme {
    max-width: 350px;
  }
  .c1l4g0ks {
    font-size: 16px;
  }
  .cplf3sl {
    max-width: 210px;
  }
  .czv2kxr {
    margin-left: auto;
  }
  .cl52kwe {
    margin-right: auto;
  }
  .c121w5wk {
    padding-left: 0;
  }
  .c1an6vxu {
    flex-grow: 1;
  }
  .c11h4gu8 {
    flex-shrink: 0;
  }
  .c1luy15 {
    width: 100svw;
  }
  .c1ceqwf1 {
    max-width: none;
  }
  .cghebzb {
    row-gap: 0.5rem;
  }
  .c1641br1 {
    margin-right: 0;
  }
  .c1zwsje {
    max-width: 48px;
  }
  .c1md3ndn {
    max-width: 26px;
  }
  .cgb7gc1 {
    max-width: 320px;
  }
  .crb3uao {
    flex-direction: column;
  }
  .cmdj7tg {
    padding-right: 0;
  }
  .c1dqgw5x {
    padding-left: 20px;
  }
  .c12mamqj {
    padding-right: 20px;
  }
  .c1dq715u {
    align-items: start;
  }
  .c174ocsi {
    max-width: 245px;
  }
  .cykcgn0 {
    white-space: nowrap;
  }
  .cjzlp52 {
    max-width: 200px;
  }
  .cvnsftm {
    padding-left: 24px;
  }
  .ci2rjdv {
    padding-top: 32px;
  }
  .c1czlr1r {
    padding-right: 24px;
  }
  .c1xwku9x {
    padding-bottom: 32px;
  }
  .c1pv3f31 {
    font-size: 20px;
  }
  .c3mz669 {
    max-width: 20px;
  }
  .c1kgq7pg {
    margin-top: 25px;
  }
  .c64lfm3 {
    display: block;
  }
  .c3mcol2 {
    flex-grow: 0;
  }
  .c4s63n2 {
    width: 100%;
  }
  .cc6at41 {
    padding: 0;
  }
  .c1i8698a {
    font-size: 36px;
  }
  .cmnjwk9 {
    max-width: 345px;
  }
  .c1hlgqhg {
    line-height: 1.4;
  }
  .cpythgj {
    min-width: 100%;
  }
  .c1gvq6m {
    max-width: 100%;
  }
  .c1us397r {
    padding-top: 0;
  }
  .cv042wi {
    padding-left: 40px;
  }
  .cbwnn6c {
    padding-right: 40px;
  }
  .cx6sqat {
    height: 100svh;
  }
  .c1el6egz {
    min-height: 100svh;
  }
  .c1n35m65 {
    max-height: 100svh;
  }
  .czusvfd {
    margin-bottom: 30px;
  }
  .ca2alaa {
    margin-top: 30px;
  }
  .c14h7qgm {
    margin-left: 0;
  }
  .c1r2unpm {
    height: 100%;
  }
  .c1j2vp2l {
    width: calc(100svw - 40px);
  }
  .c1utcvgc {
    margin-bottom: 45px;
  }
  .cry7ibw {
    margin-top: 50px;
  }
  .ca2qkov {
    max-width: 600px;
  }
  .csu6zpq {
    padding-top: 20px;
  }
  .cgd7ujw {
    flex-direction: row;
  }
  .ckkjclu {
    font-size: 40px;
  }
  .ca0jt3b {
    line-height: 45px;
  }
  .clezge8 {
    display: flex;
  }
  .c1s164d1 {
    max-width: 380px;
  }
  .c1iu334b {
    background-color: #f9fcff;
  }
  .c1j3vrf2 {
    background-color: var(--grey-1);
  }
  .c1y72rf1 {
    color: #fff;
  }
  .c114dwsj {
    border-top-color: #fff;
  }
  .cazhedq {
    border-right-color: #fff;
  }
  .c1nupadv {
    border-bottom-color: #fff;
  }
  .cx4f14t {
    border-left-color: #fff;
  }
  .c8mfwn9 {
    background-color: #bfdffc80;
  }
  .c6kh23q {
    margin-top: 20px;
  }
  .c9dtzqt {
    color: #111111b3;
  }
  .c1a6bknx {
    background-color: var(--bleu-ciel);
  }
  .c1h8wlb9 {
    text-align: start;
  }
  .cpujvd1 {
    color: var(--black);
  }
  .c1hxek9t {
    color: #ffffffb3;
  }
  .cyak43t {
    display: inline;
  }
  .c12r5vjc {
    line-height: 33px;
  }
  .cn6ge1d {
    column-gap: 15px;
  }
  .czh77jq {
    row-gap: 15px;
  }
  .c1xd45lx {
    line-height: 42px;
  }
  .c1oai6e {
    line-height: 30px;
  }
  .ckzsu8p {
    padding-top: 9px;
  }
  .c143wlma {
    padding-bottom: 0;
  }
  .c4yyrsz {
    flex-direction: column-reverse;
  }
  .c1qz3vd2 {
    height: 250px;
  }
  .cbylr9f {
    background-position: 50% 0%;
  }
  .c1ui1ahu {
    padding-top: 40px;
  }
  .clehh29 {
    padding-bottom: 40px;
  }
  .cy5nk91 {
    font-size: 15px;
  }
  .c10qjp1l {
    line-height: 24px;
  }
  .c1c2dfal {
    width: 35px;
  }
  .cnsl16y {
    min-width: 35px;
  }
  .csnyrgk {
    max-width: 35px;
  }
  .cw4797o {
    height: 35px;
  }
  .c1agv4kc {
    min-height: 35px;
  }
  .c1ckmsfq {
    max-height: 35px;
  }
  .cv4r1z0 {
    margin-top: 0;
  }
  .cayzisu {
    height: 210px;
  }
  .c19kvg56 {
    min-height: 210px;
  }
  .c1ntsady {
    max-height: 210px;
  }
  .ctcjwo2 {
    width: 340px;
  }
  .c96aurx {
    min-width: 340px;
  }
  .cbqnopu {
    max-width: 340px;
  }
  .c1j0d22z {
    margin-bottom: 40px;
  }
  .cvp6ysr {
    text-align: center;
  }
  .c9dmmff {
    width: 90%;
  }
}

@media all {
  :root {
    --bleu-ciel: rgb(183 225 255 / 1);
    --grey-1: rgb(102 110 112 / 1);
    --grey-2: rgb(75 75 75 / 1);
    --black: rgb(17 17 17 / 1);
    --orange: rgb(241 206 168 / 1);
  }
  .co1du2l {
    min-height: 750px;
  }
  .c137a1nz {
    background-color: #f4f6f7;
  }
  .cxvuy4s {
    display: flex;
  }
  .c1pldjkd {
    flex-direction: column;
  }
  .co04rh4 {
    padding-top: 40px;
  }
  .cumiicv {
    padding-bottom: 96px;
  }
  .cmsh1wz {
    width: 100%;
  }
  .c1c0lyko {
    max-width: 1200px;
  }
  .cm656wh {
    margin-left: auto;
  }
  .cddnmfv {
    margin-right: auto;
  }
  .c1wn7c78 {
    column-gap: 38px;
  }
  .c1nd025l {
    row-gap: 38px;
  }
  .c1ric5bg {
    height: 100%;
  }
  .c1q5yjmy {
    flex-grow: 1;
  }
  .cg9rjis {
    flex-shrink: 0;
  }
  .c101lt1c {
    justify-content: space-between;
  }
  .c10zigoc {
    padding-left: 20px;
  }
  .comd9c7 {
    padding-right: 20px;
  }
  .c1nqsp81 {
    text-transform: uppercase;
  }
  .c1my0jae {
    font-size: 64px;
  }
  .c16cg51a {
    text-align: center;
  }
  .cof7ble {
    font-family: Poppins, sans-serif;
  }
  .csljtcf {
    font-weight: 800;
  }
  .cv4mds2 {
    line-height: 1.4;
  }
  .c1a9zv23 {
    margin-bottom: 0;
  }
  .c1wqgmi0 {
    position: relative;
  }
  .c13y3hp5 {
    z-index: 12;
  }
  .c78ag29 {
    color: #666e70;
  }
  .c1ibkp99 {
    max-width: 760px;
  }
  .c149suav {
    font-size: 18px;
  }
  .c110f97k {
    line-height: 1.5;
  }
  .c12ezvdd {
    margin-top: 0;
  }
  .cecob1e {
    align-items: center;
  }
  .c124wu6v {
    justify-content: center;
  }
  .c1ths34i {
    column-gap: 26px;
  }
  .c1nicx2w {
    row-gap: 26px;
  }
  .cj35pp8 {
    background-color: #fff;
  }
  .cq6649h {
    border-top-left-radius: 300px;
  }
  .com9odg {
    border-top-right-radius: 300px;
  }
  .c83kehk {
    border-bottom-left-radius: 300px;
  }
  .c6y1g3i {
    border-bottom-right-radius: 300px;
  }
  .c17c1rk9 {
    width: 120px;
  }
  .ck3728l {
    display: none;
  }
  .cfxespf {
    position: absolute;
  }
  .c1426fk2 {
    right: 12%;
  }
  .cmrmwto {
    flex-direction: row;
  }
  .c696m5n {
    column-gap: 20px;
  }
  .c1srorwh {
    row-gap: 20px;
  }
  .c15ukpvn {
    color: var(--grey-1);
  }
  .c55klet {
    border-top-left-radius: 100px;
  }
  .c12kvjsp {
    border-top-right-radius: 100px;
  }
  .c1qtpq6p {
    border-bottom-left-radius: 100px;
  }
  .c1r5qdx {
    border-bottom-right-radius: 100px;
  }
  .c1wytd4e {
    padding-top: 16px;
  }
  .c1u4zhf8 {
    padding-right: 24px;
  }
  .c1bpjwy2 {
    padding-bottom: 16px;
  }
  .cj0c2ow {
    padding-left: 24px;
  }
  .c16sodyl {
    border-top-color: var(--bleu-ciel);
  }
  .cziy4g2 {
    border-right-color: var(--bleu-ciel);
  }
  .cais8cg {
    border-bottom-color: var(--bleu-ciel);
  }
  .c13pzexr {
    border-left-color: var(--bleu-ciel);
  }
  .cvjzt4n {
    background-color: var(--bleu-ciel);
  }
  .c14xqayk {
    color: var(--grey-2);
  }
  .c127qhyx {
    line-height: 1;
  }
  .cga0bbm {
    display: inline-block;
  }
  .cjq4b0m {
    text-decoration-line: none;
  }
  .c5inq7c {
    transition-property: all;
  }
  .cnb7kta {
    transition-duration: 0.2s;
  }
  .c1wnitil {
    transition-timing-function: ease-in-out;
  }
  .c601k1d {
    transition-delay: 0ms;
  }
  .c1mbwbis {
    transition-behavior: normal;
  }
  .c1p8tc35 {
    border-top-style: solid;
  }
  .c6gm3h3 {
    border-right-style: solid;
  }
  .c1ih9ixa {
    border-left-style: solid;
  }
  .c11ihk7t {
    border-bottom-style: solid;
  }
  .c1dvdrjz:hover {
    background-color: transparent;
  }
  .c1cxrlhx:hover {
    border-top-color: var(--black);
  }
  .cn0m0k7:hover {
    border-right-color: var(--black);
  }
  .c13ev57f:hover {
    border-bottom-color: var(--black);
  }
  .c20fo5u:hover {
    border-left-color: var(--black);
  }
  .c12brtd5 {
    outline: white solid 1px;
  }
  .c12brtd5:hover {
    color: white;
    background-color: red;
  }
  .c61ir79:hover {
    border-top-style: solid;
  }
  .c1ad7uqu:hover {
    border-right-style: solid;
  }
  .c1k8vkst:hover {
    border-left-style: solid;
  }
  .c1k17627:hover {
    border-bottom-style: solid;
  }
  .cbfft5l {
    overflow-x: hidden;
  }
  .ch6k3lx {
    overflow-y: hidden;
  }
  .c1y0yhtn {
    padding-top: 85px;
  }
  .c9daw98 {
    padding-bottom: 85px;
  }
  .c6mi9ie {
    width: 100svw;
  }
  .c1bnnqm2 {
    max-width: 100%;
  }
  .c17g4s8m {
    column-gap: 48px;
  }
  .c1gnsvz9 {
    row-gap: 48px;
  }
  .c1xs52ap {
    opacity: 30%;
  }
  .c161a4w7 {
    justify-content: start;
  }
  .c18tfs6g {
    float: left;
  }
  .c73y1t2 {
    list-style-position: outside;
  }
  .c1idi9ri {
    list-style-image: none;
  }
  .cczmj6z {
    list-style-type: none;
  }
  .c1wl4x7r {
    height: 27px;
  }
  .chdr82y {
    height: 55px;
  }
  .c5qj212 {
    height: 26px;
  }
  .cboma0a {
    height: 47px;
  }
  .cspklfo {
    height: 32px;
  }
  .cfrjh6a {
    height: 30px;
  }
  .cp2utug {
    height: 43px;
  }
  .c1upi2i7 {
    height: 37px;
  }
  .c1da466o {
    height: 44px;
  }
  .c7v34cj {
    max-width: 1035px;
  }
  .c1gscti3 {
    font-family:
      Poppins Light,
      sans-serif;
  }
  .c16tzysq {
    font-weight: 400;
  }
  .c18n1q6w {
    font-size: 36px;
  }
  .c4lhcfw {
    font-weight: 700;
  }
  .c1fvy557 {
    max-width: none;
  }
  .c47vvxg {
    font-size: 16px;
  }
  .ceu7tus {
    display: grid;
  }
  .cbhvyt1 {
    grid-template-rows: auto;
  }
  .cz0yzym {
    grid-template-columns: 1fr 1fr;
  }
  .cwu49w4 {
    grid-auto-columns: 1fr;
  }
  .crmbe4c {
    row-gap: 14px;
  }
  .c2w449n {
    column-gap: 14px;
  }
  .c1f8upb3 {
    padding-left: 32px;
  }
  .c1gp7o8d {
    padding-right: 32px;
  }
  .cxwtj7d {
    padding-bottom: 40px;
  }
  .cspfu9y {
    column-gap: 16px;
  }
  .c1mxabh {
    row-gap: 16px;
  }
  .ccp0xfw {
    min-height: 260px;
  }
  .c9faud3 {
    background-color: #f9fcff;
  }
  .cqv5zqd {
    font-size: 20px;
  }
  .c1gwa2ns {
    line-height: 1.2;
  }
  .c740ybs {
    opacity: 70%;
  }
  .cenqzon {
    background-color: var(--grey-1);
  }
  .c14f3psz {
    color: #fff;
  }
  .c9s2idi {
    background-color: #bfdffc80;
  }
  .c1srljhh {
    border-top-color: var(--black);
  }
  .c142po8w {
    border-right-color: var(--black);
  }
  .c13qzxxg {
    border-bottom-color: var(--black);
  }
  .cr9xmjf {
    border-left-color: var(--black);
  }
  .c1pmw8kb {
    background-color: var(--black);
  }
  .c1tas52z {
    margin-top: 0;
  }
  .cwy67s4 {
    align-self: center;
  }
  .c1fjx5g8 {
    background-image: radial-gradient(149.92% 50%at 50% 50%, #303030, #111);
  }
  .c8dmz9d {
    background-size: auto auto;
  }
  .cmb72sd {
    background-repeat: repeat;
  }
  .cn0x6it {
    background-attachment: scroll;
  }
  .c8jo06q {
    background-origin: padding-box;
  }
  .c5vutrc {
    -webkit-background-clip: border-box;
    background-clip: border-box;
  }
  .c4gg1wh {
    background-position: 0% 0%;
  }
  .c1wmlfv3 {
    max-width: 921px;
  }
  .c1nlt8wz {
    color: var(--black);
  }
  .c6vs7wo {
    padding-left: 0;
  }
  .c1to3sw7 {
    width: auto;
  }
  .c1h9ep78 {
    display: block;
  }
  .cakaq86 {
    margin-left: 0;
  }
  .cyyvn0e {
    margin-right: 0;
  }
  .crcd0dd {
    z-index: 1;
  }
  .ccl5n0p {
    opacity: 1;
  }
  .cykjrzh {
    justify-content: end;
  }
  .c17yglz3 {
    height: fit-content;
  }
  .c5obit0 {
    min-width: auto;
  }
  .c178vgvf {
    overflow-x: visible;
  }
  .c12xy5lv {
    overflow-y: visible;
  }
  .c1dtiqi5 {
    padding-top: 0rem;
  }
  .c49kyu9 {
    padding-right: 0;
  }
  .c17oytdt {
    border-top-style: none;
  }
  .c3p2h2c {
    border-right-style: none;
  }
  .cddc2p7 {
    border-left-style: none;
  }
  .c1loubl9 {
    border-bottom-style: none;
  }
  .clnolyu {
    border-top-color: #cbd5e1;
  }
  .c1i8e1rj {
    border-right-color: #cbd5e1;
  }
  .c1m2o4ec {
    border-bottom-color: #cbd5e1;
  }
  .c18fwvvb {
    border-left-color: #cbd5e1;
  }
  .corek3p {
    border-top-left-radius: 10px;
  }
  .c1p0e8gu {
    border-top-right-radius: 10px;
  }
  .c1ue7rel {
    border-bottom-left-radius: 10px;
  }
  .clw5ryq {
    border-bottom-right-radius: 10px;
  }
  .cuizxei {
    row-gap: 24px;
  }
  .c1ls9yt8 {
    background-color: transparent;
  }
  .cr7xf9l {
    align-items: stretch;
  }
  .c1ajcda2 {
    column-gap: 24px;
  }
  .c1cglnwf {
    padding: 0;
  }
  .cwm0ci7 {
    row-gap: 0rem;
  }
  .cxctruv {
    flex-grow: 0;
  }
  .ck39dq8 {
    column-gap: 0rem;
  }
  .c1tqxwlm {
    max-width: 128px;
  }
  .ctqb10y {
    margin-right: 24px;
  }
  .c1fxtm83 {
    padding: 0rem;
  }
  .crzw767 {
    min-width: 34px;
  }
  .cx52xde {
    max-width: 34px;
  }
  .clkw98d {
    flex-shrink: 1;
  }
  .cdoar1r {
    align-items: start;
  }
  .c1gyz7ht {
    line-height: 1.4rem;
  }
  .cmo6q49 {
    row-gap: 1rem;
  }
  .c26c92z {
    font-weight: 300;
  }
  .cgzd5xy {
    width: 26px;
  }
  .c1cd4e3a {
    max-width: 26px;
  }
  .c1aj8cjy {
    font-weight: 600;
  }
  .c1pkt5bs {
    color: #9fa9ae;
  }
  .c5jhy9g {
    width: 20px;
  }
  .czqkswg {
    width: 28px;
  }
  .c1nisio4 {
    right: 0;
  }
  .cnps360 {
    bottom: 0;
  }
  .c1fgya7y {
    left: 0;
  }
  .c14xws7i {
    column-gap: 8px;
  }
  .c1brmg06 {
    row-gap: 8px;
  }
  .c7fgbb2 {
    z-index: 20;
  }
  .c1udcf8d {
    margin-top: 2rem;
  }
  .c1k0g3t0 {
    background-color: #f2f9fe;
  }
  .c16wg5qu {
    max-width: 800px;
  }
  .c1ipwn23 {
    max-width: 640px;
  }
  .c1beywxu {
    row-gap: 64px;
  }
  .cbyy18e {
    column-gap: 64px;
  }
  .ccp427g {
    flex-wrap: nowrap;
  }
  .c1ebt3ld {
    font-family: system-ui, sans-serif;
  }
  .c1f1p3d3 {
    order: 0;
  }
  .c1aosahe {
    align-self: flex-start;
  }
  .cfgp08f {
    max-width: 310px;
  }
  .ca2h513 {
    border-top-left-radius: 15px;
  }
  .ckifow8 {
    border-top-right-radius: 15px;
  }
  .cyjnabw {
    border-bottom-left-radius: 15px;
  }
  .cnq6owz {
    border-bottom-right-radius: 15px;
  }
  .cf23h2m {
    box-shadow: 20px 16px 20px #e0f2ff;
  }
  .c1czck6s {
    transform: skew(-3deg) skewY(0);
  }
  .c1qgogry {
    border: 2px solid rgb(229 229 229 / 1);
  }
  .cnej8r7 {
    padding: 15px;
  }
  .c1afii3g {
    margin-bottom: 1em;
  }
  .cu5xp56 {
    transform: skew(3deg) skewY(0);
  }
  .c1ufqjlz {
    font-size: 12px;
  }
  .c6f81at {
    color: #5cce60;
  }
  .cos4snl {
    margin-top: 1em;
  }
  .c1y9nrbz {
    border-top-width: 0px;
  }
  .c11crfxh {
    border-right-width: 0px;
  }
  .cl39n5r {
    border-left-width: 0px;
  }
  .c1diyxnh {
    border-bottom: 0px solid rgb(226 232 240 / 1);
  }
  .c1te7de1 {
    padding: 25px;
  }
  .ces20lx {
    flex-basis: 0%;
  }
  .c17sxff1 {
    padding-bottom: 0rem;
  }
  .c1v369ep {
    font-weight: 500;
  }
  .c1g0prfv {
    --accordion-trigger-icon-transform: 0deg;
  }
  .cjjtv3i {
    cursor: pointer;
  }
  .cm9n7pg {
    row-gap: 40px;
  }
  .c5zikxf {
    column-gap: 40px;
  }
  .cqi623h:hover {
    text-decoration-line: none;
  }
  .cevz47n[data-state="open"] {
    --accordion-trigger-icon-transform: 180deg;
  }
  .c1w3005k[data-state="open"] {
    background-color: transparent;
  }
  .c4ej5p8[data-state="open"] {
    font-weight: 600;
  }
  .c1dfc5g9 {
    text-align: start;
  }
  .ceqha98 {
    font-size: 20px;
  }
  .c1octhje {
    min-width: 40px;
  }
  .c1c0inqi {
    rotate: var(--accordion-trigger-icon-transform);
  }
  .cpbefsr {
    height: 40px;
  }
  .coym512 {
    width: 40px;
  }
  .cn583xq {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c1629xyu {
    color: var(--blue-8, rgb(4 73 208 / 1));
  }
  .c1683o2h {
    line-height: 1.5rem;
  }
  .cu2ohr {
    padding-right: 40px;
  }
  .cyf6ee {
    background-color: #0003;
  }
  .cepbpj5 {
    padding-bottom: 0;
  }
  .c1qjy1rp {
    color: #111;
  }
  .cprknq9 {
    border-top-color: #111;
  }
  .c16ylq0j {
    border-right-color: #111;
  }
  .c19hb8z9 {
    border-bottom-color: #111;
  }
  .c13apl8o {
    border-left-color: #111;
  }
  .cg281md {
    background-image: url(/cgi/asset/Line_2_R74xdLyylxpS-kS-tiVJj.svg);
  }
  .cn3l8d3 {
    background-repeat: no-repeat;
  }
  .celrp2k {
    background-position: 50% 0%;
  }
  .c1mvil6p {
    width: 50.7%;
  }
  .ccmgn5b {
    column-gap: 12px;
  }
  .c11h88rw {
    row-gap: 12px;
  }
  .ctvuss1 {
    padding-top: 8px;
  }
  .c11jwy1k {
    padding-right: 12px;
  }
  .c1sdbk8z {
    padding-bottom: 8px;
  }
  .c10o8u9v {
    padding-left: 12px;
  }
  .c1a0w5uu {
    background-color: #b7e1ff;
  }
  .c16sdvp7 {
    width: calc(100% - 205px);
  }
  .cp7y0wh {
    width: calc(100% - 207px);
  }
  .c8qj8bv {
    width: 49%;
  }
  .c1biyzv8 {
    width: 50%;
  }
  .cgfvy0l {
    width: 51.4%;
  }
  .cmvqnry {
    max-width: 1175px;
  }
  .c171zsoo {
    background-color: #bfdffc;
  }
  .c1cnbc6u {
    padding-top: 64px;
  }
  .c1w8njkd {
    padding-right: 64px;
  }
  .csx1ua2 {
    padding-bottom: 48px;
  }
  .c1p83ndv {
    padding-left: 64px;
  }
  .c1eu4z8y {
    margin-bottom: 18px;
  }
  .cj1tqni {
    font-size: 24px;
  }
  .c1n046z4 {
    margin-top: 25px;
  }
  .c1j6fhxx {
    padding: 24px;
  }
  .c131yjha {
    margin-right: 0.5em;
  }
  .cmotz8j {
    height: 20px;
  }
  .cdo9v0x {
    border: 1.25px solid var(--black);
  }
  .c12txqrx:checked {
    background-color: var(--black);
  }
  .cum1m1q {
    margin-top: 28px;
  }
  .crm8tog {
    max-width: 710px;
  }
  .c1ilwfva {
    max-height: 130px;
  }
  .cnqet7h {
    object-fit: contain;
  }
  .c1qlmmmr {
    min-height: 230px;
  }
  .cn207rd {
    border-top-left-radius: 12px;
  }
  .c2j6lkf {
    border-top-right-radius: 12px;
  }
  .c1lw402q {
    border-bottom-left-radius: 12px;
  }
  .c1ekg5eq {
    border-bottom-right-radius: 12px;
  }
  .cv4rd8e {
    margin-bottom: -264px;
  }
  .cue78vm {
    width: 100vw;
  }
  .cw7lqgu {
    min-width: 100vw;
  }
  .cowjteg {
    max-width: 100vw;
  }
  .cqlt5s8 {
    height: 100vh;
  }
  .c5r78vq {
    min-height: 100vh;
  }
  .c1mb4elf {
    max-height: 100vh;
  }
  .c5w7kwp {
    margin-bottom: -350px;
  }
  .c4ey6rz {
    min-height: 100%;
  }
  .c1byxe4b {
    max-height: 100%;
  }
  .c4t0q4o {
    width: 50vw;
  }
  .c1yvsuou {
    min-width: 50vw;
  }
  .c1qa3k2d {
    max-width: 50vw;
  }
  .c1u6kqve {
    column-gap: 60px;
  }
  .cpnm6e3 {
    row-gap: 60px;
  }
  .cqokvld {
    padding-top: 50px;
  }
  .ctrvr61 {
    padding-bottom: 60px;
  }
  .c14nyus6 {
    background-image: url("/cgi/asset/CL-Gauche_(1)_TqaXnr5mmES7afm9udy6f.jpg");
  }
  .cge1m8n {
    background-size: cover;
  }
  .c14z3m8r {
    background-position: 30% 50%;
  }
  .cyv1o3u {
    max-width: 160px;
  }
  .c1rzmemy {
    padding-right: 35px;
  }
  .cdo0m6 {
    padding-left: 35px;
  }
  .c1bv3mc5 {
    padding-left: 60px;
  }
  .c1kfrke {
    padding-right: 60px;
  }
  .c1aw1qhk {
    padding-top: 80px;
  }
  .cs2y4ng {
    overflow-x: auto;
  }
  .cdfnwpl {
    overflow-y: auto;
  }
  .cl2xy1l {
    filter: invert(100%);
  }
  .c31wftj {
    margin-top: 50px;
  }
  .c1fx66dk {
    font-family: Montserrat, sans-serif;
  }
  .c1bu1pze {
    color: var(--color-noir);
  }
  .c6bwhxz {
    max-width: 550px;
  }
  .c1kbi57l {
    white-space: nowrap;
  }
  .c1xfcb45 {
    max-width: 1160px;
  }
  .c6fh7n9 {
    padding: 32px;
  }
  .cidhoh5 {
    color: #7c8087;
  }
  .c15a1vo2 {
    line-height: 1.5em;
  }
  .c1snd2w8 {
    text-align: left;
  }
  .cl83xab {
    letter-spacing: 0px;
  }
  .cj65k53 {
    margin-top: 5px;
  }
  .chs1dps {
    max-width: 40px;
  }
  .c1fc0fbq {
    color: #1d293f;
  }
  .c1h9pci {
    min-width: 100svw;
  }
  .c1uwo40j {
    max-width: 100svw;
  }
  .cuv18fj {
    filter:;
  }
  .c11xzdz9 {
    max-width: 700px;
  }
  .cq9rfcb {
    margin-top: 0.5em;
  }
  .c1jtoo8u {
    margin-top: 20px;
  }
  .c1rxtt9q {
    column-gap: 18px;
  }
  .c1c630i4 {
    row-gap: 18px;
  }
  .cz7r9dh {
    padding: 20px;
  }
  .c1o28t91 {
    max-width: 150px;
  }
  .c1jczfn8 {
    justify-content: flex-start;
  }
  .cjskxxv {
    margin-top: 70px;
  }
  .czwnxpu {
    margin-bottom: 50px;
  }
  .cpacsqp {
    color: var(---primary);
  }
  .c1utrxmy {
    line-height: 70px;
  }
  .con0f8v {
    text-transform: none;
  }
  .cdqjjd1:before {
    content: " ";
  }
  .cg3gxnl:before {
    grid-row-start: 1;
  }
  .cnund9p:before {
    grid-column-start: 1;
  }
  .comzunw:before {
    grid-row-end: 2;
  }
  .cg0yem3:before {
    grid-column-end: 2;
  }
  .c1f2xme9:before {
    display: table;
  }
  .c14xwqqi:after {
    content: " ";
  }
  .cod6uhx:after {
    grid-row-start: 1;
  }
  .c15t1q7n:after {
    grid-column-start: 1;
  }
  .ct80568:after {
    grid-row-end: 2;
  }
  .c136gumi:after {
    grid-column-end: 2;
  }
  .cqa33oh:after {
    display: table;
  }
  .c19g3ryt:after {
    clear: both;
  }
  .civ14rs {
    margin-top: 30px;
  }
  .c18z40pm {
    margin-bottom: 30px;
  }
  .cgj16nh {
    max-width: 680px;
  }
  .c1534bt2 {
    line-height: 24px;
  }
  .cr2pcvm {
    font-family:
      Work Sans,
      sans-serif;
  }
  .c10k87h8 {
    color: var(--secondary);
  }
  .c1py5a9r {
    line-height: 20px;
  }
  .c3nz60p {
    column-gap: 10px;
  }
  .c1bxunrc {
    row-gap: 10px;
  }
  .c1iij5kn {
    column-gap: 5px;
  }
  .c1u43pm6 {
    row-gap: 5px;
  }
  .c28bjr1 {
    font-size: 14px;
  }
  .c19rz5s4:hover {
    text-decoration-line: underline;
  }
  .c23nh4v {
    color: #2c2c2c;
  }
  .c2amdzt {
    padding-bottom: 170px;
  }
  .ccdwwem {
    background-image: url(/cgi/asset/Group_3_5lTTbX691FgSG4P_GWG8V.webp);
  }
  .c1bvemyi {
    background-size: contain;
  }
  .c1vfibbo {
    background-position: 50% 100%;
  }
  .c1gb0pym {
    max-width: 870px;
  }
  .c1nmtpzy {
    column-gap: 32px;
  }
  .c75k8mz {
    row-gap: 32px;
  }
  .c1ak3da9 {
    max-width: 500px;
  }
  .c7spc0o {
    padding-top: 24px;
  }
  .c1xs2ga1 {
    padding-bottom: 24px;
  }
  .c14lq8g9 {
    border-top-left-radius: 8px;
  }
  .c35txvd {
    border-top-right-radius: 8px;
  }
  .c128cljc {
    border-bottom-left-radius: 8px;
  }
  .ct5ph09 {
    border-bottom-right-radius: 8px;
  }
  .c1ph6w26 {
    margin-top: 10px;
  }
  .cu9l9em {
    padding-bottom: 120px;
  }
  .crjwulh {
    background-image: url(/cgi/asset/Group_5_LscfvhT0LcCDRoF2Jd48n.webp);
  }
  .ci78tyl {
    max-width: 970px;
  }
  .c22s9bg {
    margin-bottom: 0;
  }
  .colelt1 {
    bottom: -1px;
  }
  .c1en1x67 {
    left: 50%;
  }
  .c11ihrhg {
    translate: -50% 0px 0px;
  }
  .c1w6hqjk {
    line-height: 54px;
  }
  .c1jsagch {
    display: inline-flex;
  }
  .cdl1jtr {
    padding-top: 20px;
  }
  .cbo7etq {
    padding-bottom: 5px;
  }
  .c1fjs7a2 {
    translate: 0px 70% 0px;
  }
  .c10sq20h {
    margin-left: 10px;
  }
  .ckv3hfh {
    background-color: #f1f9ff;
  }
  .cfpziv4 {
    line-height: 21px;
  }
  .c1ggpscj {
    border-bottom: 0px none rgb(226 232 240 / 1);
  }
  .c1jn1oyk {
    border-top-color: #fff;
  }
  .cjpjbre {
    border-right-color: #fff;
  }
  .cw71s3e {
    border-bottom-color: #fff;
  }
  .chrd3yt {
    border-left-color: #fff;
  }
  .c13yn3jl {
    background-image: url(/cgi/asset/image_sjX-_DD2ZNR5jx8ukoj8T.webp);
  }
  .c13t8b9 {
    margin-left: -1px;
  }
  .c1jgdnkr {
    background-position: 50% 50%;
  }
  .cscnrgu {
    padding-left: 20px;
  }
  .c7a1hk5 {
    padding-right: 20px;
  }
  .cdoqux9 {
    color: #363f42;
  }
  .c1yancc2 {
    max-width: 886px;
  }
  .cnoahmk {
    max-width: 934px;
  }
  .cy1i46h {
    background-image:
      url(/cgi/asset/Group_4_0ipervyXbIIhqLHTdcOHH.webp),
      radial-gradient(149.92% 50%at 50% 50%, #303030, #111);
  }
  .c1drexwj {
    background-size:
      contain,
      auto auto;
  }
  .c68hn7f {
    background-repeat: no-repeat, repeat;
  }
  .csm2fed {
    background-attachment: scroll, scroll;
  }
  .cd4ms47 {
    background-origin: padding-box, padding-box;
  }
  .c26zvkt {
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box;
  }
  .c7on31e {
    background-blend-mode: normal, normal;
  }
  .c1dfglfr {
    background-position:
      50% 100%,
      0% 0%;
  }
  .c7sr9bo {
    column-gap: 90px;
  }
  .c1uem2nb {
    row-gap: 90px;
  }
  .c1btwqd {
    padding-right: 34px;
  }
  .c162mer8 {
    padding-left: 34px;
  }
  .c1f82iad {
    column-gap: 50px;
  }
  .c126k3jo {
    row-gap: 50px;
  }
  .c14ephhh {
    width: 400px;
  }
  .c7q3u3p {
    min-width: 400px;
  }
  .c15z3dn6 {
    max-width: 400px;
  }
  .c156qmvx {
    line-height: 30px;
  }
  .cmu9e3s {
    column-gap: 6px;
  }
  .cimpzdu {
    row-gap: 6px;
  }
  .c12guqie {
    padding-top: 3px;
  }
  .crmq9cj {
    line-height: 46px;
  }
  .c1yxhdo9 {
    padding-left: 10px;
  }
  .cozla4w {
    padding-right: 10px;
  }
  .cg4x9vi {
    padding-top: 10px;
  }
  .ca4vxlk {
    opacity: 0.7;
  }
  .c39r67v {
    padding-top: 18px;
  }
  .cmcp61r {
    padding-bottom: 14px;
  }
  .cilkbw9 {
    align-self: auto;
  }
  .c1ilwumg {
    border: 1px solid white;
  }
  .c1xefx38:hover {
    background-color: #ffffffcf;
  }
  .ct7339s:hover {
    border-top-color: transparent;
  }
  .c1qsyvau:hover {
    border-right-color: transparent;
  }
  .cmmprky:hover {
    border-bottom-color: transparent;
  }
  .c1e8imvx:hover {
    border-left-color: transparent;
  }
  .cfvsndv {
    font-size: 15px;
  }
  .c15mpzma {
    line-height: 22px;
  }
  .cbnu2c {
    max-width: 1280px;
  }
  .cs6v66g {
    padding: 40px;
  }
  .cb75puw {
    flex-direction: row-reverse;
  }
  .cu0lovv {
    line-height: 28px;
  }
  .c1qwck9b {
    margin-left: 56px;
  }
  .c1gyjwf3 {
    border-top-left-radius: 150px;
  }
  .c40pubg {
    border-top-right-radius: 150px;
  }
  .ctysjdy {
    border-bottom-left-radius: 150px;
  }
  .c1rgd0il {
    border-bottom-right-radius: 150px;
  }
  .c1c6u2kz {
    transition-duration: 0.3s;
  }
  .c18ewgmw {
    transition-timing-function: ease;
  }
  .c16t9m76 {
    margin-bottom: 5px;
  }
  .cag97bz {
    color: currentcolor;
  }
  .cjew2ow {
    width: 60px;
  }
  .c14ay8ci {
    min-width: 60px;
  }
  .cd9sd19 {
    max-width: 60px;
  }
  .cug0uvs {
    width: 18px;
  }
  .cm9jp7z {
    height: 18px;
  }
  .c1l034el {
    min-height: 18px;
  }
  .csvks49 {
    max-height: 18px;
  }
  .c1sct435 {
    min-width: 18px;
  }
  .cbnfc55 {
    max-width: 18px;
  }
  .ca82bm {
    position: sticky;
  }
  .cn1qz2s {
    top: 30px;
  }
  .cmbikng {
    translate: -12px 0px 0px;
  }
  .c1kp2gmc {
    border: 2px solid white;
  }
  .c1hez71i {
    max-height: 690px;
  }
  .c1xaiozj {
    font-size: 22px;
  }
  .c1t48nkb {
    margin-bottom: 20px;
  }
  .c1583r18 {
    column-gap: 22px;
  }
  .c1dxkx6o {
    row-gap: 22px;
  }
  .cvexib6 {
    padding-left: 16px;
  }
  .c1uzylsh {
    padding-top: 2px;
  }
  .cgtflfj {
    padding-left: 5px;
  }
  .c1ufrug1 {
    padding-right: 5px;
  }
  .c1gdh1uz {
    margin-left: -6px;
  }
  .c1k3d19x {
    padding-bottom: 1px;
  }
  .c1qx8x1o {
    column-gap: 2px;
  }
  .ctifsro {
    row-gap: 2px;
  }
  .c1kgnga0 {
    margin-top: 2px;
  }
  .c1t3u23z {
    width: 1px;
  }
  .cu9pwmk {
    min-width: 1px;
  }
  .c1ngr0yy {
    max-width: 1px;
  }
  .cm9gye2 {
    box-shadow: 20px 16px 20px #e0f2ff4a;
  }
  .c1xps2ue {
    margin-top: 32px;
  }
  .c41tkjk {
    line-height: 16px;
  }
  .ca01nbz {
    color: #7e868a;
  }
  .c1mdgraf {
    margin-top: 8px;
  }
  .cb0amkl {
    margin-bottom: 28px;
  }
  .cii8t9u {
    border-top-color: #000;
  }
  .c1eksgrx {
    border-right-color: #000;
  }
  .c122yj8h {
    border-bottom-color: #000;
  }
  .c1tpxl92 {
    border-left-color: #000;
  }
  .ck2uku4 {
    align-self: flex-end;
  }
  .cvskcvx:hover {
    background-color: var(--black);
  }
  .c1aaqdfy:hover {
    color: #fff;
  }
  .c1r6bpq7 {
    align-items: end;
  }
  .c6739z7 {
    height: 130px;
  }
  .cs6l1hd {
    margin-top: -130px;
  }
  .cs85q3o {
    background-image: linear-gradient(180deg, #fff0, #fffc 10%, #fff 70%, #fff);
  }
  .c1tiz9cz {
    background-size: auto;
  }
  .ce38gl8 {
    z-index: 9999;
  }
  .c9tr8jg {
    padding-bottom: 135px;
  }
  .c1aqbtqa {
    max-width: 920px;
  }
  .c1n0xk1b {
    max-width: 430px;
  }
  .cojeh1f {
    width: 430px;
  }
  .c3tc4mc {
    min-width: 430px;
  }
  .c1kq4y2a {
    height: 180px;
  }
  .c1of1gru {
    min-height: 180px;
  }
  .c1urkgo2 {
    max-height: 180px;
  }
  .c1uegpzo {
    column-gap: 7px;
  }
  .cy3kv3g {
    row-gap: 7px;
  }
  .cp9hp6h {
    bottom: -50px;
  }
  .cf95rrm {
    max-height: 180180px;
  }
  .csantge {
    max-width: 340px;
  }
  .c1tr0cjy {
    width: 340px;
  }
  .c18bab2q {
    min-width: 340px;
  }
  .c1gcwclt {
    height: 240px;
  }
  .clvtrg2 {
    min-height: 240px;
  }
  .c8grjjz {
    max-height: 240px;
  }
  .c1fk76tz {
    padding-top: 30px;
  }
  .c1yigjg5 {
    padding-bottom: 30px;
  }
  .c1fvskyf {
    width: 30px;
  }
  .cmvg3kw {
    min-width: 30px;
  }
  .c1nci7i0 {
    min-height: 30px;
  }
  .c1g4j540 {
    max-width: 30px;
  }
  .c15rrpxp {
    max-height: 30px;
  }
  .cc5ld2q {
    max-width: 1448px;
  }
  .cozvp4k {
    margin-top: 35px;
  }
  .c7f5vo {
    margin-bottom: 85px;
  }
  .crb3eyh {
    margin-bottom: 48px;
  }
  .c19hqrrr {
    text-align: end;
  }
  .cfg4nbl {
    max-width: 291px;
  }
  .c12r6heg {
    object-fit: cover;
  }
  .cw9tlra {
    border-top-color: var(--orange);
  }
  .cweakix {
    border-right-color: var(--orange);
  }
  .c189ajnd {
    border-bottom-color: var(--orange);
  }
  .c2et32m {
    border-left-color: var(--orange);
  }
  .cz01vdo {
    background-color: var(--orange);
  }
  .coczfcj {
    line-height: 120%;
  }
}

@media all and (max-width: 991px) {
  .c14i8qeo {
    width: 100svw;
  }
  .c13isxdn {
    padding-left: 20px;
  }
  .c1pcweb5 {
    padding-right: 20px;
  }
  .c155gxmb {
    align-self: center;
  }
  .c16j9ewe {
    margin-top: 0;
  }
  .ct44f18 {
    margin-bottom: 0;
  }
  .c1hhgaki {
    display: none;
  }
  .c1d8lmlp {
    display: flex;
  }
  .c169ky09 {
    column-gap: 20px;
  }
  .c151bn5c {
    row-gap: 20px;
  }
  .c172tzsi {
    position: relative;
  }
  .c14cot1t {
    right: auto;
  }
  .c13yde8q {
    align-items: center;
  }
  .cix8prv {
    justify-content: start;
  }
  .c1yd7ehd {
    max-width: 70px;
  }
  .cj82qg4 {
    grid-template-columns: 1fr;
  }
  .c6u9l1h {
    column-gap: 0px;
  }
  .csjb01i {
    row-gap: 0px;
  }
  .ccn3k9r {
    min-height: 160px;
  }
  .cmmwnc3 {
    width: 100%;
  }
  .c3icw74 {
    max-width: 100%;
  }
  .c16g2u7i {
    min-width: auto;
  }
  .c1fcfxr8 {
    flex-direction: column-reverse;
  }
  .ce8dr0t {
    column-gap: 35px;
  }
  .c1mx1ppk {
    row-gap: 35px;
  }
  .c1w461ch {
    column-gap: 30px;
  }
  .csrr65g {
    row-gap: 30px;
  }
  .c1hpwy8d {
    flex-direction: column;
  }
  .c1r6bf04 {
    column-gap: 8px;
  }
  .ct3vlpu {
    row-gap: 8px;
  }
  .cjpbqhm {
    min-width: 10px;
  }
  .c1oe3u {
    max-width: 10px;
  }
  .c1fbfo6j {
    flex-direction: row;
  }
  .c5qt4ev {
    max-width: none;
  }
  .c6fvnt5 {
    justify-content: space-between;
  }
  .cskcxq9 {
    column-gap: 6px;
  }
  .coa6u8s {
    row-gap: 6px;
  }
  .c1duiau8 {
    margin-right: 0;
  }
  .c1ab95gx {
    height: 48px;
  }
  .c1gvsifz {
    width: 48px;
  }
  .c13wsqdb {
    width: 28px;
  }
  .c100b5gq {
    row-gap: 40px;
  }
  .c1qrku7s {
    column-gap: 40px;
  }
  .c10e3tmx {
    max-width: 40px;
  }
  .ctisutg {
    padding-top: 18px;
  }
  .c1qi679r {
    max-width: 590px;
  }
  .c1we7b0h {
    margin-left: auto;
  }
  .c1d1cpys {
    margin-right: auto;
  }
  .c1yg9ep9 {
    background-position: 8px 0%;
  }
  .c2n7v7l {
    margin-right: -150px;
  }
  .ct5j3gh {
    width: auto;
  }
  .cz4yr6o {
    width: calc(100% - 60px);
  }
  .c1o9gi1j {
    align-items: start;
  }
  .cgiqd4t {
    column-gap: 15px;
  }
  .ca9dtzt {
    row-gap: 15px;
  }
  .c19iy80m {
    max-height: 110px;
  }
  .cygp4ma {
    padding-left: 30px;
  }
  .c1ni4w72 {
    padding-right: 80px;
  }
  .c1j1bso7 {
    width: 100vw;
  }
  .ccfh6jr {
    min-width: 100vw;
  }
  .c1rnkb0u {
    max-width: 100vw;
  }
  .c17axixb {
    padding-top: 0;
  }
  .c1ilos38 {
    filter: invert(0%);
  }
  .c7z1fan {
    display: block;
  }
  .c1017es1 {
    margin-bottom: 45px;
  }
  .cv5fpuz {
    max-width: 160px;
  }
  .c85pps1 {
    align-self: flex-start;
  }
  .c1mc9hyv {
    font-size: 14px;
  }
  .c1lj7wpr {
    filter:;
  }
  .c18icike {
    text-align: center;
  }
  .c1dhctl8 {
    white-space: nowrap;
  }
  .c187rul6 {
    z-index: 12;
  }
  .c1xwv1w9 {
    font-size: 54px;
  }
  .cg08aq7 {
    line-height: 54px;
  }
  .c1kz71xd {
    width: 80px;
  }
  .c1171npp {
    font-size: 50px;
  }
  .c1djv65r {
    line-height: 60px;
  }
  .cfhx9ui {
    padding-top: 15px;
  }
  .cld1wad {
    padding-bottom: 0;
  }
  .cqwunig {
    padding-top: 30px;
  }
  .c11dq1i1 {
    padding-bottom: 30px;
  }
  .c18e0ih1 {
    font-size: 18px;
  }
  .cvzri0t {
    column-gap: 50px;
  }
  .c1lk9nev {
    row-gap: 50px;
  }
  .cskbxqi {
    text-align: start;
  }
  .ca5fhx1 {
    padding-left: 0;
  }
  .c3atc3b {
    width: 40px;
  }
  .c1pwmfrg {
    min-width: 40px;
  }
  .ca5225y {
    translate: -2px 0px 0px;
  }
  .c1d4rsif {
    padding-left: 15px;
  }
  .c1bjamb8 {
    margin-top: 0;
  }
  .c1abmhux {
    max-width: 362px;
  }
  .c18p5pmq {
    width: 362px;
  }
  .c13010i4 {
    min-width: 362px;
  }
  .cafy4di {
    height: 210px;
  }
  .c131za3t {
    min-height: 210px;
  }
  .c8bxc13 {
    max-height: 210px;
  }
  .cljt10w {
    width: 100px;
  }
}
